* {
  padding: 0;
  margin: 0;
  
}



section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 650px;
  overflow-y: auto;
  

}

.cards{
	font-family: 'Roboto', sans-serif;
	display: grid;
	grid-gap: 10px;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	padding: 10px;
  background-color: #f3f4f5;
  
}

.card{
  width: 400px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
  padding: 8px 14px;
  color: #fff;
  box-shadow: 0 5px 15px 0 #adadae;
  


}

.background{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  user-select: none;
  
}

.background::after{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  background-color: rgba(0,0,0,0.5);
  
}

.background img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h4{
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #7c4dff;
}

.description{
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #ff944d;
}

.description ol{
  display: grid;
  grid-gap: 5px;
}

.description li{
  align-items: center;
  display: list-item;
  list-style-type: decimal;
  list-style-position: inside;
}

.description li span{
  font-weight: 300;
  font-size: 10px;
}

.padding-s ul {
  list-style-type:disc;
}

.padding-s ol {
  list-style-type: decimal;
}





	
